.field {
	flex: 1;
	width: inherit;
	height: 50px;
	width: inherit;
	padding: 0 15px;
	font-size: 1.5rem;
	line-height: 50;
	border-radius: 5px 0 0 5px;
	background-color: #f3f3f3;
	box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
	transition: all 0.2s ease;
}

.field:focus {
	background-color: #ffffff;
}
